*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #fff;
}
.resume{
    background-color: #ea80fc;
    width: 700px;
    margin: 50px auto;
}
.top{
    background: var(--#e040fb);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}
.h1{
    text-transform: uppercase;
    color: black;
    font-size: 41px;
    letter-spacing: 2px;
}
.p1{
    text-transform: uppercase;
    color: black;
    margin: 0px auto;
    letter-spacing: 5px;
}
